[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-bdd = "*"
pytest-mock = "*"
pylint = "*"
coverage = "*"
autopep8 = "*"

[packages]
python-dotenv = "==0.19.2"
safety = "*"
requests = "*"
jsonschema = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = {extras = ["standard"], version = "*"}
google-cloud-bigquery = "*"
mangum = "*"

[requires]
python_version = "3.12"
